.app-download {
  background: url(/src/i/appbg1.png) no-repeat;
  background-size: cover;
  position: relative;
}
.grid-download {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  align-items: center;
}
.download-img {
  margin: 40px 0;
  z-index: 1;
}
.app-download-box {
  max-width: 450px;
  z-index: 1;
  &__name {
    font-size: 16px;
    line-height: 1.4;
  }
  &__description {
    font-size: 36px;
    font-weight: 800;
    line-height: 1.306;
    &_light {
      font-weight: 300;
    }
  }
  &_text {
    font-size: 17px;
    line-height: 1.647;
  }
}
.app-download-btn {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 170px 170px;
  grid-gap: 10px;
  &__item {
    &_google {
      margin-bottom: 10px;
    }
  }
}
.learn-more {
  display: grid;
  grid-template-areas:
    "img text"
    "img link";
  max-width: 320px;
  &__img {
    grid-area: img;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 4px;
    border-radius: 100%;
    overflow: hidden;
    background: #ffa800;
    box-shadow: -0.707px 0.707px 10px 0px rgba(43, 1, 68, 0.1);
  }
  &__text {
    grid-area: text;
    font-size: 17px;
  }
  &__item {
    grid-area: link;
    color: #0090ff;
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
  }
  &__icon {
    margin-left: 5px;
  }
}
.app-download::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/src/i/apps3.png);
}
.app-download::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/src/i/apps2.png);
}
